.index-header{
    text-align: center;
    padding-bottom: 10%;
}

.storeHeader{
    text-align: center;
    padding-bottom: 0.3%;
}

.index-buttons{
    border: 2px solid;
    margin: auto;
    width: 35%;
    padding: 10px;
}

.database-buttons{
    text-align: center;
    border-bottom: 1px solid;
}

.create-database{
    margin-bottom: 10px;
}

.tables-buttons{
    text-align: center;
    border-bottom: 1px solid;

}

.create-tables{
    margin-bottom: 10px;
}

.import{
    text-align: center;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

#formFile{
    margin-bottom: 10px;
}

.next-page{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

.MainTable{
    margin-left: auto;
    margin-right: auto;
}

.MainTable th, td{
    border: 1px solid;
    text-align: center;
    
}

.MainTable th{
    width: 10%;
}

.MainTable td{
    width: 10%;
}

.keres{
    border: 2px solid;
    text-align: center;
    width: 35%;
    margin: auto auto;
    margin-bottom: 5px;
}

.export{
    border: 2px solid;
    text-align: center;
    width: 35%;
    margin: auto auto;
    padding-bottom: 1%;
    margin-bottom: 5px;
}

.add{
    border: 2px solid;
    text-align: center;
    width: 35%;
    margin: auto auto;
    padding-bottom: 1%;
    margin-bottom: 5px;
}

.modositas{
    border: 2px solid;
    text-align: center;
    width: 35%;
    margin: auto auto;
    padding-bottom: 1%;
}
